*{
    margin: 0;
    padding: 0;
}

.mainlogo {
    background-size: contain;
}
.container{
    padding-top: -50px;
    margin-bottom: 20px;
}
nav ul li a {
    background-color: black;
    padding: 20px 25px 20px 25px;
    border-radius: 45%;
    margin-bottom: 100px;
    text-decoration: none;
    color: wheat;
}

nav ul li a:hover{
    background-color: #1F4690;

}

nav ul li :active{
    background-color: palevioletred;
}

li{
    text-decoration: none;
    word-spacing: 50px;
    float: right;
    position: relative;
    left: -10%;
    margin-top: 70px;
    list-style: none;

}

.mainpicture{
    height: 500px;
    width: 100%;
}
.hauptbild{
    background-size: contain;
    height: 1000px;
    padding-left: 10%;
    width: 80%;
    align-items: center;
    filter: brightness(50px);
}



.login, .signup{
    border-radius: 0%;
    background-color: antiquewhite;
    color: black;
    letter-spacing: 0px;
    margin-right: -10px;
}

.container-1{
    max-width: 1200px;
    margin: auto;
    background: white;
    overflow: auto;
    padding-bottom: 80px;
}

.gallery{
    margin: 5px;
    float: left;
    width: 385px;
}

.gallery img {
    width: 100%;
    height: auto;
    padding: 10px;


}

.desc{
    padding: 15px;
    text-align: center;
}

/* Footer */
.inner-footer{
    margin: 0;
    padding: 0;
    background-color: #272727;
}

.social-links{
    display: flex;
    padding-bottom: 20px;
    padding-top: -20px;
}

.social-links ul{
    display: flex;
    
}

.social-items{
    list-style-type: none;

}

.social-items a{
    position: relative;
    left: 900px;
    margin-left: 20px;
    padding: 20px 30px 20px 30px;
    font-size: 35px;
    color: #6cccc6;


}


.outer-footer{
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 18px;
    background-color: #3f3f3f;
}

.brille-kat{
    padding-top: 50px;
    font-size: 3rem;
    font-family:cursive;
    text-align: center;
    text-decoration: underline;
}