nav ul li a{
    background-color: black;
    border-radius: 30%;
    padding: 20px 25px 20px 25px;
    margin-bottom: 100px;
    text-decoration: none;
    color: wheat;
    font-size: large;
}


nav ul li a:hover{
    background-color: #1F4690;

}

nav ul li :active{
    background-color: palevioletred;
}

li{
    text-decoration: none;
    word-spacing: 50px;
    float: right;
    position: relative;
    left: -10%;
    margin-top: 70px;
    list-style: none;

}

.container-1{
    width: 85%;
    margin: auto;
    background: white;
    overflow: auto;
    padding-bottom: 80px;
}


.mainlogo {
    background-size: contain;
}
.container-logo{
    padding-top: -50px;
    margin-bottom: 20px;
}


.gallery{
    margin: 5px;
    float: left;
    width: 350px;
}

.gallery img {
    width: 70%;
    padding-left: 5%;
    padding-right: 5%;
    height: 180px;

}


.gallery img:hover{
    color: transparent;
    text-shadow: 0 0 3px #aaa;
    color: #444;
    text-shadow: 0 1px 0 #fff;
    font-size: 2rem;
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
    content: '';
    display: block;
    height: 40%;
    left: 0;
    margin: 1px 0 0 0;
    position: absolute;
    top: 25%;
    width: 25%;

}

.desc{
    padding: 15px;
    text-align: center;
}

/* Footer */
.inner-footer{
    margin: 0;
    padding: 0;
    background-color: #272727;
}

.social-links{
    display: flex;
    padding-bottom: 20px;
    padding-top: -20px;
}

.social-links ul{
    display: flex;
    
}

.social-items{
    list-style-type: none;

}

.social-items a{
    position: relative;
    left: 900px;
    margin-left: 20px;
    padding: 20px 30px 20px 30px;
    font-size: 35px;
    color: #6cccc6;


}


.outer-footer{
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 18px;
    background-color: #3f3f3f;
}

/* Button */

#btn {
    display: flex;
    align-items: center;
    background: #222;
    height: 50px;
    max-width: 30%;
    border: none;
    border-radius: 10px;
    color: #eee;
    font-size: 25px;
    font-family: 'Cookie', cursive;
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
  
  #btn #circle {
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: 500ms;
  }
  
  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }
  
 
  #btn:hover #circle {
    height: 50px;
    width: 100%;
    left: 0;
    border-radius: 0;
    border-bottom: 2px solid #eee;
  }

 

  .calender{
    padding-top: 50px;
    font-size: 3rem;
    font-family:cursive;
    text-align: center;
    text-decoration: underline;
  }
