/* Footer */
.inner-footer{
    margin: 0;
    padding: 0;
    background-color: #272727;
}

.social-links{
    display: flex;
    padding-bottom: 20px;
    padding-top: -20px;
}

.social-links ul{
    display: flex;
    
}

.social-items{
    list-style-type: none;

}

.social-items a{
    position: relative;
    left: 900px;
    margin-left: 20px;
    padding: 20px 30px 20px 30px;
    font-size: 35px;
    color: #6cccc6;


}


.outer-footer{
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 18px;
    background-color: #3f3f3f;
}